
#top-page {
  //position: absolute;
  background: url("../images/background.jpg") no-repeat center center;
  background-size: cover;
  margin: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
}

#second-page {
  width: 100%;
  height: 100%;
  background-color: #DDD;
  margin: 0px;
}

#about-text {
  text-align: center;
  padding: 3em;
  font-size: 1.5em;
}

h1.centered-text {
  margin-top: 0px;
  padding-top: 3em;
  font-size: 4em;
}

.centered-text {
  text-align: center;
  color: #FFF;
  margin-bottom: .5em;
}

.centered-button {
  display: block;
  background-color: #EEE;
}

.centered-button:hover {
  background: #999;
}

#about-header {
  padding-top: 1em;
  margin-top: 0px;
  font-family: 'Open Sans';
  text-align: center;
}

/*Portfolio-page*/
#portfolio-header {
  text-align: center;
  padding-top: 1.25em;
  padding-bottom: 1.5em;
  margin: 0px;
}

#portfolio-page  {
  margin: 0px;
  min-height: 100%;
  background-color: #e1fbff;
}

.portfolio-pic {
  padding: 1em;
}
/*Footer*/
.footer {
  padding-top: 1.25em;
  margin: 0px;
  background-color: #f3f0f0;
}

.small-footer-pic {
  width: 30px;
  margin-left: auto;
  margin-right: auto;
}
html, body {
  min-height: 100%;
  height: 100%;
}

/*Lightbox CSS effects*/
#lightbox {
  position: fixed; /*Keeps lightbox window in current viewport*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rbga(0, 0, 0, .7);
  text-align: center;
}

#content-text {
  position: absolute;
  width: 100%;
  padding: 2em;
  text-align: left;
  color: white;
  z-index: 50;
}

#content-text a {
  color: white; 
}

#lightbox img {
  box-shadow: 0 0 25px #111;
  -webkit-box-shadow: 0 0 25px #111;
  -moz-box-shadow: 0 0 25px #111;
  width: 50%; 
  z-index: 10;
}

nav.navbar.navbar-default {
  margin-bottom: 0;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}